.Magazine
  &__section7
    display: flex
    flex-direction: row
    margin-left: 113px
    margin-top: 60px
  &__section7__container7
    width: 848px
    background: #ffffff
    border-radius: 10px
    margin-right: 29px
  &__section7__cepdivlar 
    display: flex
    flex-direction: column
.section7__cepdivlar
  &__1
    display: flex
    flex-direction: row
    padding: 0 0 25px 0
    margin: 25px 25px 0 25px
    border-bottom: 1px solid #d9dadb
  &__111
    width: 336px
    height: 195px
    margin-right: 25px
  &__112
    display: flex
    flex-direction: column
  &__112__1
    display: flex
    flex-direction: row
    margin-bottom: 15px
  &__112__11
    font-family: "Lato"
    font-size: 12px
    line-height: 15px
    color: #4592ff
    text-transform: uppercase
    width: 267px
    height: 15px
    margin-right: 153px
  &__112__12 
    width: 14px
    height: 18px
  &__112__2 
    font-family: "Roboto Slab"
    font-style: normal
    font-weight: 700
    font-size: 20px
    line-height: 25px
    color: #262d33
    margin-bottom: 10px
  &__112__3
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    color: #4b5157
    margin-bottom: 20px

  &__112__4 
    display: flex
    flex-direction: row
.section7__sag1__sag
  &__21
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 12px
    line-height: 15px
    color: #939699
    margin-right: 10px
  &__22 
    width: 13px
    height: 13px
    margin-right: 5px
  &__23 
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 12px
    line-height: 15px
    color: #939699
    margin-right: 11px
  &__24 
    width: 12px
    height: 11px
    margin-right: 6px
  &__25 
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 12px
    line-height: 15px
    color: #939699
.section7__cepdivlar
  &__2 
    display: flex
    flex-direction: row
    padding: 25px
    border-bottom: 1px solid #d9dadb
    padding: 0 0 25px 0
    margin: 25px 25px 0 25px
  &__211
    width: 336px
    height: 195px
    margin-right: 25px
  &__212
    display: flex
    flex-direction: column
  &__212__1
    display: flex
    flex-direction: row
    margin-bottom: 15px
  &__212__11 
    font-family: "Lato"
    font-size: 12px
    line-height: 15px
    color: #3bbdc4
    text-transform: uppercase
    width: 267px
    height: 15px
    margin-right: 153px
  &__212__12 
    width: 14px
    height: 18px
  &__212__2 
    font-family: "Roboto Slab"
    font-style: normal
    font-weight: 700
    font-size: 20px
    line-height: 25px
    color: #262d33
    margin-bottom: 10px
  &__212__3 
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    color: #4b5157
    margin-bottom: 20px
  &__212__4
    display: flex
    flex-direction: row
.section7__sag1__sag
  &__212
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 12px
    line-height: 15px
    color: #939699
    margin-right: 10px
  &__222
    width: 13px
    height: 13px
    margin-right: 5px
  &__232
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 12px
    line-height: 15px
    color: #939699
    margin-right: 11px
  &__242
    width: 12px
    height: 11px
    margin-right: 6px
  &__252
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 12px
    line-height: 15px
    color: #939699
.section7__cepdivlar
  &__3
    display: flex
    flex-direction: row
    padding: 25px
    border-bottom: 1px solid #d9dadb
    padding: 0 0 25px 0
    margin: 25px 25px 0 25px
  &__311
    width: 336px
    height: 195px
    margin-right: 25px
  &__312
    display: flex
    flex-direction: column
  &__312__1
    display: flex
    flex-direction: row
    margin-bottom: 15px
  &__312__11 
    font-family: "Lato"
    font-size: 12px
    line-height: 15px
    color: #ff4f52
    text-transform: uppercase
    width: 267px
    height: 15px
    margin-right: 153px
  &__312__12 
    width: 14px
    height: 18px
  &__312__2
    font-family: "Roboto Slab"
    font-style: normal
    font-weight: 700
    font-size: 20px
    line-height: 25px
    color: #262d33
    margin-bottom: 10px
  &__312__3
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    color: #4b5157
    margin-bottom: 20px
  &__312__4
    display: flex
    flex-direction: row
.section7__sag1__sag
  &__213
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 12px
    line-height: 15px
    color: #939699
    margin-right: 10px
  &__223
    width: 13px
    height: 13px
    margin-right: 5px
  &__233
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 12px
    line-height: 15px
    color: #939699
    margin-right: 11px
  &__243
    width: 12px
    height: 11px
    margin-right: 6px
  &__253
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 12px
    line-height: 15px
    color: #939699
.section7__cepdivlar
  &__4
    display: flex
    flex-direction: row
    padding: 25px
    border-bottom: 1px solid #d9dadb
    padding: 0 0 25px 0
    margin: 25px 25px 0 25px
  &__411
    width: 336px
    height: 195px
    margin-right: 25px
  &__412
    display: flex
    flex-direction: column
  &__412__1
    display: flex
    flex-direction: row
    margin-bottom: 15px
  &__412__11 
    font-family: "Lato"
    font-size: 12px
    line-height: 15px
    color: #3bbdc4
    text-transform: uppercase
    width: 267px
    height: 15px
    margin-right: 153px
  &__412__12 
    width: 14px
    height: 18px
  &__412__2 
    font-family: "Roboto Slab"
    font-style: normal
    font-weight: 700
    font-size: 20px
    line-height: 25px
    color: #262d33
    margin-bottom: 10px
  &__412__3 
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    color: #4b5157
    margin-bottom: 20px
  &__412__4 
    display: flex
    flex-direction: row
.section7__sag1__sag
  &__214
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 12px
    line-height: 15px
    color: #939699
    margin-right: 10px
  &__224
    width: 13px
    height: 13px
    margin-right: 5px
  &__234
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 12px
    line-height: 15px
    color: #939699
    margin-right: 11px
  &__244
    width: 12px
    height: 11px
    margin-right: 6px
  &__254 
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 12px
    line-height: 15px
    color: #939699
.section7__cepdivlar
  &__5
    display: flex
    flex-direction: row
    padding: 25px
    border-bottom: 1px solid #d9dadb
    padding: 0 0 25px 0
    margin: 25px 25px 0 25px
  &__511
    width: 336px
    height: 195px
    margin-right: 25px
  &__512 
    display: flex
    flex-direction: column
  &__512__1 
    display: flex
    flex-direction: row
    margin-bottom: 15px
  &__512__11
    font-family: "Lato"
    font-size: 12px
    line-height: 15px
    color: #ff4f52
    text-transform: uppercase
    width: 267px
    height: 15px
    margin-right: 153px
  &__512__12 
    width: 14px
    height: 18px
  &__512__2
    font-family: "Roboto Slab"
    font-style: normal
    font-weight: 700
    font-size: 20px
    line-height: 25px
    color: #262d33
    margin-bottom: 20px
  &__512__3
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    color: #4b5157
    margin-bottom: 30px
  &__512__4 
    display: flex
    flex-direction: row
.section7__sag1__sag
  &__215
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 12px
    line-height: 15px
    color: #939699
    margin-right: 10px
  &__225
    width: 13px
    height: 13px
    margin-right: 5px
  &__235
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 12px
    line-height: 15px
    color: #939699
    margin-right: 11px
  &__245 
    width: 12px
    height: 11px
    margin-right: 6px
  &__255 
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 12px
    line-height: 15px
    color: #939699
.section7__cepdivlar
  &__6
    display: flex
    flex-direction: row
    padding: 0 0 25px 0
    margin: 25px 25px 0 25px
  &__611
    width: 336px
    height: 195px
    margin-right: 25px
  &__612 
    display: flex
    flex-direction: column
  &__612__1 
    display: flex
    flex-direction: row
    margin-bottom: 15px
  &__612__11 
    font-family: "Lato"
    font-size: 12px
    line-height: 15px
    color: #ac8ee3
    text-transform: uppercase
    width: 267px
    height: 15px
    margin-right: 153px
  &__612__12
    width: 14px
    height: 18px
  &__612__2
    font-family: "Roboto Slab"
    font-style: normal
    font-weight: 700
    font-size: 20px
    line-height: 25px
    color: #262d33
    margin-bottom: 10px
  &__612__3 
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    color: #4b5157
    margin-bottom: 20px
  &__612__4
    display: flex
    flex-direction: row
.section7__sag1__sag
  &__216
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 12px
    line-height: 15px
    color: #939699
    margin-right: 10px
  &__226 
    width: 13px
    height: 13px
    margin-right: 5px
  &__236 
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 12px
    line-height: 15px
    color: #939699
    margin-right: 11px
  &__246 
    width: 12px
    height: 11px
    margin-right: 6px
  &__256
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 12px
    line-height: 15px
    color: #939699
.Magazine
  &__section7__sagdivlar
    display: flex
    flex-direction: column
    width: 263px
    height: 770px
    background: #ffffff
    border-radius: 10px
.section7
  &__div0
    text-align: center
    padding: 20px 25px 19px 25px
    border-bottom: 1px solid #d9dadb
.section7__div1
  &__1 
    padding: 17px 0 17px 0
    margin: 0 25px 0 25px
    display: flex
    flex-direction: row
    border-bottom: 1px solid #d9dadb
  &__11 
    width: 60px
    height: 60px
    margin-right: 10px
  &__12
    display: flex
    flex-direction: column
    position: relative
  &__12__1
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    margin-bottom: 5px
    color: #4b5157
  &__12__2
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 12px
    line-height: 15px
    color: #939699
  &__12__3 
    width: 41px
    height: 50px
    position: absolute
    right: 0

  &__2 
    padding: 17px 0 17px 0
    margin: 0 25px 0 25px
    display: flex
    flex-direction: row
    border-bottom: 1px solid #d9dadb
  &__21
    width: 60px
    height: 60px
    margin-right: 10px
  &__22 
    display: flex
    flex-direction: column
    position: relative
  &__22__1
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    margin-bottom: 5px
    color: #4b5157
  &__22__2
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 12px
    line-height: 15px
    color: #939699
  &__22__3 
    width: 41px
    height: 50px
    position: absolute
    right: 0
  &__3 
    padding: 17px 0 17px 0
    margin: 0 25px 0 25px
    display: flex
    flex-direction: row
    border-bottom: 1px solid #d9dadb
  &__31
    width: 60px
    height: 60px
    margin-right: 10px
  &__32
    display: flex
    flex-direction: column
    position: relative
  &__32__1
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    margin-bottom: 5px
    color: #4b5157
  &__32__2
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 12px
    line-height: 15px
    color: #939699
  &__32__3 
    width: 41px
    height: 50px
    position: absolute
    right: 0

  &__4
    padding: 17px 0 17px 0
    margin: 0 25px 0 25px
    display: flex
    flex-direction: row
    border-bottom: 1px solid #d9dadb
  &__41
    width: 60px
    height: 60px
    margin-right: 10px
  &__42
    display: flex
    flex-direction: column
    position: relative
  &__42__1 
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    margin-bottom: 5px
    color: #4b5157
  &__42__2
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 12px
    line-height: 15px
    color: #939699
  &__42__3 
    width: 41px
    height: 50px
    position: absolute
    right: 0
  &__5 
    padding: 17px 0 17px 0
    margin: 0 25px 0 25px
    display: flex
    flex-direction: row
    border-bottom: 1px solid #d9dadb
  &__51
    width: 60px
    height: 60px
    margin-right: 10px
  &__52 
    display: flex
    flex-direction: column
    position: relative
  &__52__1 
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    margin-bottom: 5px
    color: #4b5157
  &__52__2 
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 12px
    line-height: 15px
    color: #939699
  &__52__3 
    width: 41px
    height: 50px
    position: absolute
    right: 0

  &__6 
    padding: 17px 0 17px 0
    margin: 0 25px 0 25px
    display: flex
    flex-direction: row
    border-bottom: 1px solid #d9dadb
  &__61
    width: 60px
    height: 60px
    margin-right: 10px
  &__62
    display: flex
    flex-direction: column
    position: relative
  &__62__1
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    margin-bottom: 5px
    color: #4b5157
  &__62__2 
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 12px
    line-height: 15px
    color: #939699
  &__62__3 
    width: 38px
    height: 50px
    position: absolute
    right: 0

  &__7 
    padding: 20px 25px 19px 25px
    display: flex
    flex-direction: row
    border-bottom: 1px solid #d9dadb
  &__71
    width: 60px
    height: 60px
    margin-right: 10px
  &__72
    display: flex
    flex-direction: column
    position: relative
  &__72__1
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    margin-bottom: 5px
    color: #4b5157
  &__72__2 
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 12px
    line-height: 15px
    color: #939699
  &__72__3
    width: 41px
    height: 50px
    position: absolute
    right: 0
  &__8 
    font-family: "Lato"
    font-size: 14px
    line-height: 20px
    color: #262d33
    text-align: center
    padding: 11px 98px 14px 97px