.Magazine
  &__section8
    background: #262d33
    width: 1366px
    height: 690px
    padding: 60px 113px
    margin-top: 60px
  &__section8__container8
    display: flex
    flex-direction: row
.section8
  &__cep8
    background-image: url(../img/section8/image-205.png)
    background-repeat: no-repeat
    background-size: cover
    width: 555px
    height: 570px
    border-radius: 10px
    margin-right: 30px
    text-align: center
.section8__cep8
  &__10 
    font-family: "Lato"
    font-size: 12px
    line-height: 15px
    color: #ffffff
    background: #ff4f52
    border-radius: 3px
    width: 45px
    height: 25px
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    margin: 18px
  &__1
    width: 45px
    height: 45px
    margin-bottom: 8px
  &__2
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    color: #ffffff
    margin-bottom: 2px
  &__3
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 12px
    line-height: 15px
    color: #ffffff
    margin-bottom: 30px
  &__4
    font-family: "Roboto Slab"
    font-style: normal
    font-weight: 700
    font-size: 40px
    line-height: 50px
    color: #ffffff
    margin-bottom: 45px
  &__5
    width: 185px
    height: 40px
    background: #4592ff
    border-radius: 20px
    padding: 10px 25px 10px 20px
    display: flex
    flex-direction: row
    margin-left: 185px
    margin-bottom: 105px
  &__51
    width: 19px
    height: 15px
    margin-right: 11px
  &__52
    font-family: "Lato"
    font-size: 14px
    line-height: 20px
    color: #ffffff
    margin-right: 5px
  &__53
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    color: #c5e4fc
  &__6
    display: flex
    flex-direction: row
    margin-left: 224px
  &__61
    width: 8px
    height: 8px
    background: #d9dadb
    border-radius: 50px
    margin: 6px 11px 6px 0
  &__62
    width: 16px
    height: 16px
  &__63 
    width: 8px
    height: 8px
    background: #d9dadb
    border-radius: 50px
    margin: 6px 17px 6px 11px
  &__64
    width: 8px
    height: 8px
    background: #d9dadb
    border-radius: 50px
    margin: 6px 17px 6px 0
  &__65 
    width: 8px
    height: 8px
    background: #d9dadb
    border-radius: 50px
    margin: 6px 0 6px 0
.section8
  &__sagkompleks 
    display: flex
    flex-direction: column
  &__sag8
    display: flex
    flex-direction: row
    padding: 18px 30px 0 35px
    background: #b4d1e0
    border-radius: 10px
    width: 555px
    height: 370px
.section8__sag8
  &__1
    display: flex
    flex-direction: column
  &__11 
    font-family: "Lato"
    font-size: 12px
    line-height: 15px
    color: #6e99ae
    margin-bottom: 20px
  &__12
    font-family: "Roboto Slab"
    font-style: normal
    font-weight: 700
    font-size: 25px
    line-height: 30px
    color: #262d33
    margin-bottom: 15px
  &__13
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    color: #4b5157
    margin-bottom: 25px
.sag8__div1
  &__1 
    width: 138px
    height: 30px
    background: #4592ff
    border-radius: 20px
    display: flex
    flex-direction: row
    text-align: center
    align-items: center
    padding: 10px 20px 10px 25px
  &__11
    font-family: "Lato"
    font-size: 14px
    line-height: 20px
    color: #ffffff
    margin-right: 8px
  &__12
    width: 15px
    height: 7px
.section8
  &__sag82
    display: flex
    flex-direction: row
.section8__sag82
  &__1 
    display: flex
    flex-direction: column
    width: 263px
    height: 170px
    border-radius: 10px
    background: #ffffff
    margin-top: 30px
    padding: 25px
    margin-right: 29px
  &__11
    font-family: "Roboto Slab"
    font-style: normal
    font-weight: 700
    font-size: 16px
    line-height: 25px
    color: #262d33
    margin-bottom: 5px
  &__12
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    color: #4b5157
    margin-bottom: 10px
  &__13 
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 12px
    line-height: 15px
    color: #939699
  &__2 
    display: flex
    flex-direction: column
    width: 263px
    height: 170px
    border-radius: 10px
    background: #ffffff
    margin-top: 30px
    padding: 25px
  &__21
    font-family: "Roboto Slab"
    font-style: normal
    font-weight: 700
    font-size: 16px
    line-height: 25px
    color: #262d33
    margin-bottom: 5px
  &__22
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    color: #4b5157
    margin-bottom: 10px
  &__23 
    font-family: "Lato"
    font-style: normal
    font-weight: 400
    font-size: 12px
    line-height: 15px
    color: #939699